%div
  %img{alt: "", src: "assets/slider/about-quote.jpg", style: "background:#1abc9c; width:100%; height:auto; display: block;"}/
            


.blank_bg#_about
  .container
    .second-section
      .row.centered
        %h5.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center#_about
          %span.bluebg
            = t('dynamic_translations.about.tagline_1')
        %h4.ouishare-stencil{style: 'clear: left; margin-top: 80px; text-transform: none'}
          = t('dynamic_translations.about.tagline_1_1')
        -# .carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8
        -#   .carousel-inner
        -#     .item.active
        -#       .press-content{:style => 'height:3em;'}
        -#         .press-text
        -#           %h3
        -#             = t('dynamic_translations.about.subtitle')
        -#       .label-press
        -#         Arun Sundararajan, Professor at NYU’s Stern School of Business        
        -#   %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
        -#   %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          %p{:style => 'margin-top: 2em;'}
            = t('dynamic_translations.about.text_1_1')
          %p{:style => 'margin-top: 2em;'}
            = t('dynamic_translations.about.text_1_2')
      -# .row.centered.btn-space
      -#   .col-md-6.col-md-offset-3
      -#     %a{:href => 'program'}
      -#       %button.btn.btn-large.btn-primary
      -#         = t('dynamic_translations.button.see_program')

#_key_topics.triangle_bg_topics.white_txt
  .container
    .third-section
      .row.centered
        %h3.ouishare_stencil
          = t('dynamic_translations.about.tagline_2')
        %hr.pink
        %h4.ouishare-stencil
          = t('dynamic_translations.about.tagline_2_1')
        %br
        %br
      .row
        .col-md-8.col-md-offset-2.topics
          %ul.topics
            %li
              \#P2P
            %li
              \#OpenSource
            %li
              \#SharingEconomy
            %li
              \#Makers
            %li
              \#OpenInnovation
            %li
              \#Sustainability
            %li
              \#CircularEconomy
            %li
              \#Crowdfunding
            %li
              \#Currencies
            %li
              \#HorizontalOrgs
            %li
              \#Startups
            %li
              \#Communities
            %li
              \#NewEconomy
            %li
              \#SocialInnovation
            %li
              \#TraditionalCommunities
            %li
              \#LowTech
            %li
              \#IndigenousRights
            %li
              \#CivicTech
            %li
              \#BlockChain
            %li
              \#FutureOfCities

.blank_bg#_past_editions
  .container
    .row
      %h3.ouishare_stencil.centered
        = t('dynamic_translations.about.tagline_3')
      %hr.pink
      %br

      .col-md-6
        %iframe{src: "https://player.vimeo.com/video/128404503", width: "560", height: "315", frameborder: "0", webkitallowfullscreen: '', mozallowfullscreen: '', allowfullscreen: ''}
      .col-md-6
        %iframe{width: '560', height: '315', src: 'https://www.youtube.com/embed/Hr683Ldt6dQ', frameborder: '0', allowfullscreen: ''}
    .row
      .col-md-6
        %iframe{width: '560', height: '315', src: 'https://www.youtube.com/embed/P5itwC5W9H0', frameborder: '0', allowfullscreen: ''}
      .col-md-6
        %iframe{width: '560', height: '315', src: 'https://www.youtube.com/embed/DdkPM5TrNz0', frameborder: '0', allowfullscreen: ''}


/ What the press says
.blank_bg#_about_press{style: 'margin-top: 100px'}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.press.title')
      %hr.pink
      %br

    #myCarousel.carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8{ 'data-ride' => "carousel"}

      /Wrapper for slides
      .carousel-inner
        .item.active
          .press-content
            .press-text
              %h3
                The Fest is an event to not only inspire the new opportunities in the Collaborative Economy, but also to provide a venue to outline and debate the challenges.
          .label-press
            Jeremiah Owyang, Founder of Crowd Companies
        .item
          .press-content
            .press-text
              %h3
                At the Ouishare Fest, the great and the good from Europe’s sharing economy have been delving deep into what it means to be running a collaborative business model within a capitalist framework.
          .label-press
            Izabella Kaminska, FT
        .item
          .press-content
            .press-text
              %h3
                L’édition 2015 du OuiShare Fest marque une nouvelle étape, celle de la crise existentielle, voire d’adolescence (tout grandit si vite avec le numérique).
          .label-press
            Usine Digital
        .item
          .press-content
            .press-text
              %h3
                When co-operatives and left-wingers gathered at the Fest to discuss ways that grass-roots organisations could undermine giant repositories of data like Facebook, the blockchain made it into almost every speech.
          .label-press
            The Economist

      %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
      %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
      %a.left.carousel-control{:href => "#myCarousel", 'data-slide' => "prev"}
        &lsaquo;

      %a.right.carousel-control{:href => "#myCarousel", 'data-slide' => "next" }
        &rsaquo;
}

.become_partner.vmargin#_zerowaste
  .container
    .row.centered
      .col-md-8.col-md-offset-2.col-sm-12
        %h5.ouishare_stencil
          = t('dynamic_translations.about.tagline_4')
        %hr.pink
        %p
          = t('dynamic_translations.about.text_4_1')
        %p
          = t('dynamic_translations.about.text_4_2')
        %h5
          = t('dynamic_translations.about.tagline_4_1')
        %ul
          %li
            = t('dynamic_translations.about.list_4_1')
          %li
            = t('dynamic_translations.about.list_4_2')
          %li
            = t('dynamic_translations.about.list_4_3')
          %li
            = t('dynamic_translations.about.list_4_4')
          %li
            = t('dynamic_translations.about.list_4_5')
          %li
            = t('dynamic_translations.about.list_4_6')
          %li
            = t('dynamic_translations.about.list_4_7')

#_ouishare.aboutouishare-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about.tagline_5_1')
      %hr.pink
      %br
      %br
      .container
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.about.text_5_1')
            %p{:style => "padding-top:30px"}
              = t('dynamic_translations.about.text_5_2')
            %p{:style => "padding-top:30px"}
              = t('dynamic_translations.about.text_5_3')
      %h3.ouishare_stencil{style: 'margin-top: 80px;'}
        = t('dynamic_translations.about.tagline_5_2')
      %hr.pink
      %br
      .container
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.about.text_5_4')

/ Join section
.blank_bg
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')