#container.container-fluid.index.triangles
  .container
    .main-section
      .row
        #head_logo_edges
          = image_tag "/assets/logo-ca-white.png"
      .row
        / .col-md-10.col-md-offset-1
        /   %h1.main-title.white
        /     = t('dynamic_translations.main.title')
        .col-md-6.col-md-offset-3
          %br
          / %p.main-section-paragraphes.white
          /   = t('dynamic_translations.main.subtitle')
          %h5.normal.white
            %span.vert-borders
              = t('dynamic_translations.main.date')
          / %h5.normal.white
          /   = t('dynamic_translations.main.theme')

      .row
        .col-md-8.col-md-offset-2
          / %br
          %br
          %p.centered.join_bouton
            = form_tag home_newsletter_collect_email_path, :class => "form-inline" do
              .row
                %h5.normal.white
                  = t('dynamic_translations.main.subscribe_title')
                  %br
                  %br
              .row
                .col-md-6.col-md-push-3
                  = text_field_tag :email_address,"", :class => "form-control-header", :placeholder => t('dynamic_translations.main.placeholder_stay_posted')
                  = submit_tag t('dynamic_translations.main.stay_posted'), :class => "btn-header btn btn-primary", :style => 'border-radius: 0px;'
            / %a{:href => 'join#_tickets'}
            /   %button.btn.btn-embossed.btn-primary
            /     = t('dynamic_translations.reminder_ticket.getyourtickets')

#controls.controls
= javascript_include_tag 'triangles'

/ Tweetwall
/ = render '/home/partials/tweetwall'

/ About the Fest
.blank_bg
  .container
    .second-section
      .row.centered
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          %p.large{:style => 'margin-top: 1.8em;'}
            = t('dynamic_translations.about.landing_1')
          %br
          %p.large
            = t('dynamic_translations.about.landing_2')
          %br
      .row.centered.btn-space
        .col-md-6.col-md-offset-3
          %a{:href => 'about#_about'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.readmore.title')
      .row.centered.vspace#ouishare_video
        .col-md-8.col-md-offset-2{style:"position: relative"}
          %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
          %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/zIr5t_-pRQU", style:"position:absolute;top:0;left:0;width:100%;height:100%"}


%section#slideshow-container
  .banner
    %ul
      / slide 1
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/inspire_2016.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Inspire

      / slide 2
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/cocreate_2016.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Collaborate

      / slide 3
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/connect_2016.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Connect

      / slide 4
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img5.jpg", style: "background:#e4e6e6"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Debate

      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/create_2016.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Create

      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/dance_2015.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Dance!


/ Speakers

#speakers.vspace{:style => "padding-top:4.5em;"}
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.speakers.title')
      %hr.pink
      - if !@displayed_speakers.blank?
        .ch-grid
          - @displayed_speakers.each do |speaker|
            .col-lg-3.individuals-list-display
              %li
                = render "/individuals/partials/speaker_display", :speaker => speaker
          - if !@hidden_speakers.blank?
            %div
              #allspeakers{style: "display: none;"}
                - @hidden_speakers.each do |speaker|
                  .col-lg-3.individuals-list-display
                    %li
                      = render "/individuals/partials/speaker_display", :speaker => speaker
              %div.row.mb_20
                %a#btn_showspeakers_down
                  %button.btn.btn-embossed.btn-primary.mt_20
                    = t('dynamic_translations.speakers.show_all')

              %div.row.mb_20.mt_20
                %button.btn.btn-embossed.btn-primary.hide#btn_showspeakers_up
                  = t('dynamic_translations.speakers.hide_all')

    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'participants#_speakers'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.speakers.see_all')


/ Buy tickets
/ = render '/home/partials/buy_tickets'


/ Partners
.partners-container
  .container.sinfo
    - if !@partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @partners, :important_partners_display => true, :important_partners_count => 3
      %br
      %br

    - if !@patronage.blank?
      .row.centered
        %br
        %h6
          = t('dynamic_translations.partners.patronage_mairie')
        .partners
      = render "/individuals/partials/partners_display", :partners => @patronage, :important_partners_display => false
      %br
      %br

    - if !@media_partners.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.media_partner_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @media_partners, :important_partners_display => false
      %br
      %br

    - if !@friends.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.friends_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @friends, :important_partners_display => false

      %br
      %br


    - if !@supporters.blank?
      .row.centered
        %br
        %h3.ouishare_stencil
          = t('dynamic_translations.partners.supporters_title')
        %hr.pink
        .partners
      = render "/individuals/partials/partners_display", :partners => @supporters, :important_partners_display => false


.become_partner
  .container 
    .row.centered
      .col-md-4.col-md-offset-4.col-sm-12
        .btn.btn-pink.become-partner-btn
          %a{:href => 'mailto:partners@ouisharefest.com'}
            / Become a partner
            = t('dynamic_translations.partners.button')


/ Join section
.blank_bg.vspace
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.join.ready')
    .row.centered
      .col-md-6.col-md-offset-3
        %br
        %br
        %p.centered
          %img.img-responsive{alt: "Ready to join?", src: "assets/osf16-join.jpg"}/
    .row.centered.btn-space
      .col-md-12
        .col-md-6.col-md-offset-3
          %a{:href => 'join#eventbrite'}
            %button.btn.btn-large.btn-primary
              = t('dynamic_translations.reminder_ticket.getyourtickets')