
.navbar.navbar-default.navbar-fixed-top{ :id => (@id_nav )}
  .container.special-container-navbar
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.nopadding{href: root_path}
        = image_tag "/assets/logo-ca-small-horiz.png", :class => "header-logo"

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        / %li
        /   %a{href: "#_about"}
        /     =t('dynamic_translations.about.title')

        %li.dropdown
          %a.dropdown-toggle{href: "/about"}
            =t('dynamic_translations.about.title')
            / %b.caret
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "about#_about"}
                = t('dynamic_translations.about.the_event')
            %li
              %a{href: "about#_key_topics"}
                = t('dynamic_translations.key_topics.title')
            %li
              %a{href: "/zero_waste_event"}
                = t('dynamic_translations.about.zero_waste')
            %li
              %a{href: "#"}
                = t('dynamic_translations.about.the_venue')
            %li
              %a{href: "about#_colaboramerica"}
                = t('dynamic_translations.about.colaboramerica')
            %li.dropdown
              %a.dropdown-toggle{href: "#"}
                =t('dynamic_translations.past_editions.title')
              %ul.dropdown-submenu
                %li
                  %a{href: "https://vimeo.com/111267699", target: '_blank'}
                    \#ColaboraRio
                %li
                  %a{href: "https://vimeo.com/128404503", target: '_blank'}
                    Reboot
                %li
                  %a{href: "https://www.youtube.com/watch?v=Hr683Ldt6dQ", target: '_blank'}
                    OuiShare Fest 2015
                %li
                  %a{href: "https://www.youtube.com/watch?v=P5itwC5W9H0", target: '_blank'}
                    Reboot Mini-Doc
                %li
                  %a{href: "https://www.youtube.com/watch?v=DdkPM5TrNz0", target: '_blank'}
                    OuiShare Fest Barcelona

        %li.dropdown
          %a.dropdown-toggle{href: "/program"}
            =t('dynamic_translations.program.title')
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "program#_schedule"}
                = t('dynamic_translations.program.main_schedule')
            %li
              / %a{href: "/after_gold_rush"}
              %a{href: "program#transition"}
                = t('dynamic_translations.program.from_tradition_to_transition')

        %li.dropdown
          %a.dropdown-toggle{href: "/participants"}
            =t('dynamic_translations.participants.title')
          %ul.dropdown-menu.hidden-sm
            %li
              %a{href: "participants#_speakers"}
                = t('dynamic_translations.speakers.title')
            %li
              %a{href: "participants#_team"}
                = t('dynamic_translations.team.title')
            %li
              %a{href: "participants#_sponsors"}
                = t('dynamic_translations.sponsors.title')
            %li
              %a{href: "participants#_partners"}
                = t('dynamic_translations.institutional_partners.title')

        %li.dropdown
          %a.dropdown-toggle{href: "/join"}
            =t('dynamic_translations.get_involved.join')
        -#%li.dropdown
        -#  %a.dropdown-toggle{href: "/join"}
        -#    =t('dynamic_translations.get_involved.join')
        -#  %ul.dropdown-menu.hidden-sm
        -#    %li
        -#      %a{href: "join#_tickets"}
        -#        = t('dynamic_translations.tickets.title')
        -#    %li
        -#      %a{href: "join#_getinvolved"}
        -#        = t('dynamic_translations.get_involved.title')
        -#    %li
        -#      %a{href: "join#_press_media"}
        -#        = t('dynamic_translations.tickets.press_media')
            -# %li.dropdown
            -#   %a.dropdown-toggle{href: "join#_prepare"}
            -#     = t('dynamic_translations.prepare_your_trip.title')
            -#   %ul.dropdown-submenu
            -#     %li
            -#       %a{href: "/travel_information"}
            -#         = t('dynamic_translations.travel_information.title')
            -#     %li
            -#       %a{href: "/where_to_stay"}
            -#         = t('dynamic_translations.where_to_stay.title')
            -#     %li
            -#       %a{href: "/getting_to_the_venue"}
            -#         = t('dynamic_translations.getting_venue.title')

        -#%li.tickets-highlight
        -#  %a.highlight{href: "#"}
        -#    =t('dynamic_translations.tickets.title')

        %li.hidden-sm
          .text-center.social-media-icons-header
            %a{href: "https://www.facebook.com/colaboramerica", target: "_blank"}
              %img{src: "/assets/BT-facebook.png", width: "24px"}/
            %a{href: "https://twitter.com/colaboramerica", target: "_blank"}
              %img{src: "/assets/BT-twitter.png", width: "24px"}/
            %a{href: "https://instagram.com/colaboramerica", target: "_blank"}
              %img{src: "/assets/BT-instagram.png", width: "24px"}/
            -# %a{href: "https://plus.google.com/+OuishareNet", target: "_blank"}
            -#   %img{src: "/assets/BT-googleplus.png", width: "24px"}/
            -# %a{href: "https://www.youtube.com/user/OuiShareTV", target: "_blank"}
            -#   %img{src: "/assets/BT-youtube.png", width: "24px"}/
        -#%li
        -#  = select_languages

